<div class="row">
    <h1>Filtrar participantes por arte marcial</h1>
    {{#each artesmarciales}}
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        Arte Marcial: 
                    </h4>
                    <a href="/participantes/arteMarcial/{{this}}">{{this}}</a>
                    <hr class="my-3">                       
                </div>
            </div>
        </div>
    {{/each}}
</div>