
<div class="col-md-4.mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Nuevo Participante</h3>
        </div>
        <div class="card-body">
            <form action="/participantes/nuevo-participante" method="POST">
                <div class="form-group">
                    <input type="text" name="nombreParticipante" class="form-control mb-4" placeholder="Nombre del Participante" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="arteMarcial" class="form-control mb-4" placeholder="Arte marcial del participante">
                </div>
                <div class="form-group">
                    <input type="number" name="edadParticipante" class="form-control mb-4" placeholder="Edad del participante (entre 18 y 40 años)">
                </div>
                <div class="form-group">
                    <input type="text" name="entrenador" class="form-control mb-4" placeholder="Nombre del entrenador">
                </div>
                <div class="form-group">
                    <input type="text" name="colorCamiseta" class="form-control mb-4" placeholder="Color de su indumentaria">
                </div>
                <div class="form-group">
                    <input type="text" name="paisOrigen" class="form-control mb-4" placeholder="País del participante">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- 


    nombreParticipante
    arteMarcial
    edadParticipante
    entrenador
    colorCamiseta
    paisOrigen

-->
