<div class="card">
    <div class="card-body">
        <h1>Acerca del Proyecto</h1><hr>
        <p>Este proyecto corresponde a la Evaluación número 4 del ramo <strong>Base de Datos no Relacionales</strong>. Está última evaluación corresponde a una serie de trabajos de manera asincrónica, siendo este el último.
            Esta aplicación está diseñada con <strong>NodeJS y MongoDB</strong>, acompañada de distintos módulos y lenguajes (como JavaScript).  <br> <br>
            La aplicación consta de un sistema de autenticación de usuarios, haciendo que este pueda crear, iniciar y cerrar una sesión, con sus distintas credenciales (nombre de usuario, email y contraseña).
            La aplicación se encargará de verificar si los datos ingresados están correctos (mediante una detección de errores). <br> <br>
            Una vez se acrediten las credenciales, el usuario ingresará en su cuenta y ahí podrá agregar, modificar y eliminar participantes, rellenando un formulario completo (si no lo rellena completo, lanza un error) para así mostrar distintos recuadros con los participantes ingresados. <br><br>
            Estos participantes, pueden ser ordenados alfabéticamente de forma ascendente por país y por nombre. También, cuenta con una página que muestre todos los países registrados en la aplicación. Al hacer click en cualquiera de los países mostrados, se mostrarán todos los participantes de dicho país. <br><br>
            Esta misma funcionalidad existe para mostrar todas las artes marciales ingresadas, donde posteriormente se podrán verificar todos los participantes de x arte marcial (dependiendo la que se presione). <br><br>
            Un punto importante de la aplicación, es que cada usuario podrá agregar a sus respectivos participantes, por lo que al momento de querer filtrar participantes, solo se verán los que dicho usuario haya ingresado, evitando así la mezcla de los datos de todos los usuarios. 
            <br><br>
            Gracias por su lectura <br>
            Alexis Pinilla Barría, estudiante de Ingeniería en informática.

        </p>
    </div>
</div>