<div class="card">
    <div class="card-body">
        <h1 class="display-4">PROYECTO BASE DE DATOS NO RELACIONALES</h1>
        <p class="lead">Gestión de participantes de un torneo de artes marciales.</p>
        <hr class="my-4">
        <p>Sea bienvenido a esta aplicación, cuya misión es realizar la gestión de participantes de un torneo de artes marciales, en donde se solicitarán diversos datos, los cuales serán almacenados
            dentro de una base de datos, para luego ser manipulados por sus respectivos usuarios. <br><br>
            
            Media de la edad de los inscritos en el sistema:{{#if cantidadInscritos}}{{cantidadInscritos}}{{/if}}
        </p>
        <a href="http://www.inacap.cl" target="_blank" class="btn btn-primary btn-lg">Inacap</a>
    </div>  
</div>